<template>
	<div class="header-nav flex items-center gap-6">
		<div class="flex items-center gap-4">
			<nuxt-link to="/jadi-mitra" class="font-medium">
				<i class="bzi-handshaking text-3xl"></i>
				Jadi Mitra KEMAHAJA</nuxt-link
			>
			<button class="flex items-center gap-2">
				<img src="/assets/img/id-flag.svg" alt="ID Flag" />
				<span>ID</span>
				<i class="bzi-angle-down"></i>
			</button>
		</div>
		<nuxt-link to="/profile" class="text-black flex items-center gap-2">
			<img src="/assets/img/user-avatar.svg" alt="Avatar" />
			<span>Prayuda Riansyah</span>
			<i class="bzi-angle-down"></i
		></nuxt-link>
	</div>
</template>

<script>
export default {
	name: 'AddonNav',
	data() {
		return {
			mainNav: []
		}
	}
}
</script>

<style lang="scss"></style>
