<template>
	<header class="site-header">
		<div class="container">
			<div class="flex flex-col w-full">
				<section class="upper-nav flex items-center justify-between">
					<Logo />
					<HeaderNav />
					<AddonNav />
				</section>
				<section class="tabbed-nav">
					<TabbedNav />
				</section>
			</div>
		</div>
	</header>
</template>

<script>
import AddonNav from './AddonNav.vue'
import TabbedNav from './TabbedNav.vue'
export default {
	name: 'Header',
	components: { AddonNav, TabbedNav }
}
</script>

<style lang="scss">
.site-header {
	@apply flex fixed w-full z-10 top-0 left-0 bg-white shadow;
}

.upper-nav {
	height: 75px;
}

.tabbed-nav {
	& ul {
		@apply flex m-0;
		& li {
			@apply px-3 py-[10px] cursor-pointer border-b-2 border-white transition-all duration-300 font-medium text-grey;

			&:hover,
			&.is-active {
				@apply border-primary-500 text-primary-500;
			}
		}
	}
}
</style>
