<template>
	<ul>
		<li :class="[activeTab === 1 ? 'is-active' : '']" @click="activeTab = 1">
			Info Umum
		</li>
		<li :class="[activeTab === 2 ? 'is-active' : '']" @click="activeTab = 2">
			Fasilitas
		</li>
		<li :class="[activeTab === 3 ? 'is-active' : '']" @click="activeTab = 3">
			Lokasi
		</li>
		<li :class="[activeTab === 4 ? 'is-active' : '']" @click="activeTab = 4">
			Camp Ground
		</li>
		<li :class="[activeTab === 5 ? 'is-active' : '']" @click="activeTab = 5">
			Review
		</li>
	</ul>
</template>

<script>
export default {
	name: 'AddonNav',
	data() {
		return {
			activeTab: 1
		}
	}
}
</script>

<style lang="scss"></style>
