<template>
	<div class="badge" :class="[size === 'small' ? 'small' : '']">
		<slot></slot>
		<span class="badge__text">{{ text }}</span>
	</div>
</template>

<script>
export default {
	name: 'ImgResponsive',
	props: {
		text: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss" scoped>
.badge {
	@apply py-[6px] px-[10px] rounded-[4px] bg-primary-100 text-primary-500 flex items-center gap-[10px];

	&__text {
		@apply text-base font-medium text-primary-500;
	}

	&.small {
		@apply text-sm font-normal;
	}
}
</style>
