<template>
	<section class="review-card">
		<span class="review-card__timestamp">{{ timestamp }}</span>
		<section class="review-card__user-profile">
			<div class="review-card__ellipsis" />
			<h5>{{ name }}</h5>
		</section>
		<section class="review-card__detail">
			<section class="review-card__detail__info">
				<div class="flex items-center gap-0">
					<p>Rating :</p>
					<i v-for="i in starsRate" :key="i" class="bzi-star text-yellow-500" />
					<i
						v-for="i in 5 - starsRate"
						:key="i"
						class="bzi-star text-yellow-100"
					/>
				</div>
				<div class="flex items-center gap-2">
					<p>Camper :</p>
					<nuxt-link to="/family-camper">{{ camperType }}</nuxt-link>
				</div>
				<div class="flex items-center gap-2">
					<p>Paket :</p>
					<nuxt-link to="/package-deluxe">{{ type }}</nuxt-link>
				</div>
			</section>
			<p class="review-card__detail__desc">
				{{ description }}
			</p>
		</section>
		<section v-if="photos" class="review-card__images">
			<img
				v-for="(item, i) in photos"
				:key="i"
				:src="item"
				:alt="`Review image ${i + 1}`"
			/>
			<div class="review-card__images--more">
				<img src="/assets/img/gallery/camp-4.jpg" alt="Review image 3" />
				<div>+ 5 Photo</div>
			</div>
		</section>
	</section>
</template>

<script>
export default {
	name: 'CardReview',
	props: {
		timestamp: {
			type: String,
			default: ''
		},
		name: {
			type: String,
			default: ''
		},
		starsRate: {
			type: Number,
			default: 0
		},
		camperType: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: ''
		},
		photos: {
			type: Array,
			default: () => []
		},
		description: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss" scoped>
.review-card {
	@apply bg-white rounded-[10px] shadow-xl py-5 px-6 flex flex-col gap-[10px];
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

	&__timestamp {
		@apply text-darkGrey text-sm;
	}

	&__user-profile {
		@apply flex items-center gap-2;

		h5 {
			@apply text-black text-base font-medium mb-0;
		}
	}

	&__ellipsis {
		@apply w-[48px] h-[48px] rounded-full bg-gray-300;
	}

	&__detail {
		&__info {
			@apply flex items-center gap-5;

			p {
				@apply text-black text-sm font-medium mb-0;
			}
		}

		&__desc {
			@apply text-black text-base font-normal mb-0 mt-4;
		}
	}

	&__images {
		@apply flex items-center gap-2 mt-4;

		img {
			@apply w-[96px] h-[84px] rounded-lg object-cover overflow-hidden;
		}

		&--more {
			@apply flex items-center text-white text-sm font-medium relative overflow-hidden w-[96px] h-[84px];

			& > img {
				@apply w-full;
			}

			&::before {
				@apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 rounded-lg;
				content: '';
			}

			& > div {
				@apply absolute top-0 left-0 w-full h-full flex justify-center items-center;
			}
		}
	}
}
</style>
