<template>
	<section class="review__filter-sorting__card">
		<section class="review__filter-sorting__card__header">
			<h4>Urutkan Hasil Pencarian</h4>
			<i class="bzi-angle-up text-2xl" />
		</section>
		<section class="review__filter-sorting__card__options">
			<div class="input-field">
				<input id="latest" type="radio" name="sortBy" />
				<label for="latest">Terbaru</label>
			</div>
			<div class="input-field">
				<input id="mostLiked" type="radio" name="sortBy" />
				<label for="mostLiked">Paling Banyak Disukai</label>
			</div>
			<div class="input-field">
				<input id="highestRating" type="radio" name="sortBy" />
				<label for="highestRating">Rating Tertinggi</label>
			</div>
			<div class="input-field">
				<input id="lowesRating" type="radio" name="sortBy" />
				<label for="lowesRating">Rating Terendah</label>
			</div>
		</section>
	</section>
</template>

<script>
export default {
	name: 'CardSorting'
}
</script>

<style lang="scss" scoped>
.review__filter-sorting {
	&__card {
		@apply py-5 px-[15px] rounded-[10px];
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

		&__header {
			@apply flex justify-between items-center mb-6;

			h4 {
				@apply text-base text-black m-0;
				font-size: 22px;
			}
		}

		&__options {
			@apply flex flex-col gap-4;

			.input-field {
				@apply flex items-center gap-2;

				input {
					@apply w-5 h-5 relative border border-gray-300;

					&:checked + label {
						@apply font-medium text-black;
					}

					&::before {
						@apply absolute w-2/3 h-2/3 bg-transparent top-1/2 left-1/2 rounded-full -translate-x-1/2 -translate-y-1/2;
						content: '';
					}

					&::before:checked {
						@apply bg-primary-500;
					}
				}

				label {
					@apply text-lg text-grey m-0 cursor-pointer;
				}
			}
		}
	}
}

.review__pagination {
	@apply flex justify-center items-center gap-2 mt-7;

	button {
		@apply px-[10px] py-[7px] w-14 font-medium;

		&:hover {
			@apply bg-primary-500 text-white rounded-md;
		}
	}
}
</style>
