<template>
	<section class="package">
		<div class="package__figure">
			<figure>
				<img src="/assets/img/gallery/camp-3.jpg" alt="Mountain view" />
				<figcaption>Paket {{ type }}</figcaption>
			</figure>
		</div>
		<div class="package__detail">
			<h3 class="package__detail__title">
				{{ title }}
			</h3>
			<section class="flex items-center justify-between">
				<p>
					<i class="bzi-tent"></i>
					<span>{{ capacity }} Orang</span>
				</p>
				<p :class="[kavlingSlot > 1 ? 'text-primary-500' : 'text-red']">
					Tersisa {{ kavlingSlot }} Kavling lagi
				</p>
			</section>
			<hr role="separator" />
			<section class="grid grid-cols-9">
				<div class="package__detail__facilities">
					<span
						v-for="(item, i) in facilities"
						:key="i"
						:class="[
							'flex items-center',
							item.includes('Tidak') ? 'muted' : 'text-primary-500'
						]"
					>
						<i class="bzi-tent text-lg"></i>
						{{ item }}
					</span>
				</div>
				<div class="col-span-3 flex flex-col items-end">
					<span class="mb-1 text-sm text-gray-500">per kavling, per malam</span>
					<span v-if="discountPrice > 0" class="line-through text-red"
						>IDR {{ numberFormat(price) }}</span
					>
					<h3 class="font-bold text-[22px] text-primary-500">
						<span class="text-black text-base font-normal mr-1">IDR</span
						>{{
							discountPrice > 0
								? numberFormat(discountPrice)
								: numberFormat(price)
						}}
					</h3>
					<button class="btn--primary">Pesan</button>
				</div>
			</section>
		</div>
	</section>
</template>

<script>
export default {
	name: 'CardPackage',
	props: {
		type: {
			type: String,
			default: ''
		},
		title: {
			type: String,
			default: ''
		},
		capacity: {
			type: String,
			default: ''
		},
		kavlingSlot: {
			type: Number,
			default: 0
		},
		facilities: {
			type: Array,
			default: () => []
		},
		price: {
			type: Number,
			default: 0
		},
		discountPrice: {
			type: Number,
			default: 0
		}
	},
	methods: {
		numberFormat(val) {
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
		}
	}
}
</script>

<style lang="scss" scoped>
.package {
	@apply grid grid-cols-8 gap-6;

	&__figure {
		@apply col-span-3;

		& figure {
			@apply rounded-tl-[10px] rounded-tr-[10px] overflow-hidden;

			& img {
				@apply w-full h-[200px] object-cover object-center;
			}
		}

		& figcaption {
			@apply font-bold text-[22px] text-black p-3;
		}
	}

	&__detail {
		@apply col-span-5 px-5 py-4;
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

		&__title {
			@apply font-medium text-[22px] text-black mb-3;
		}

		&__facilities {
			@apply col-span-6 overflow-hidden;
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;

			& span {
				@apply flex items-center font-medium gap-2 text-sm text-primary-500;
			}

			& span.muted {
				@apply text-gray-500;
			}
		}
	}
}
</style>
