<template>
	<ul class="list-nostyle breadcrumbs">
		<li>
			<nuxt-link to="/"
				><span>Camping Ground</span>
				<i class="bzi-angle-right text-2xl icon-crumbs"></i
			></nuxt-link>
		</li>
		<li>
			<nuxt-link to="/"
				><span>Yogyakarta</span>
				<i class="bzi-angle-right text-2xl icon-crumbs"></i
			></nuxt-link>
		</li>
		<li>
			<nuxt-link to="/"><span>Brotherhood Camp</span></nuxt-link>
		</li>
	</ul>
</template>

<script>
export default {
	name: 'CustomBreadCrumbs'
}
</script>

<style lang="scss" scoped>
.breadcrumbs {
	@apply my-3 capitalize items-center flex-wrap flex text-sm py-2;

	.icon-crumbs {
		@apply inline-block py-0 px-2;
	}

	li a {
		color: $grey;
	}

	li:last-child a {
		color: $black;
	}
}
</style>
