<template>
	<section class="detail-info grid grid-cols-7 gap-8">
		<section class="col-span-3">
			<div class="flex items-center justify-between mb-5">
				<h5 class="subtitle">Tentang Destinasi</h5>
				<button class="text-primary-500 font-bold items-center flex gap-2">
					<span>Selengkapnya</span>
					<i class="bzi-angle-right text-xl"></i>
				</button>
			</div>
			<p class="body">
				Saksikan matahari terbit dan terbenam di balik pegunungan, melihat
				hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan riak
				air yang jernih dari sungai yang mengalir hanya 30 menit dari
			</p>
		</section>
		<section class="col-span-4">
			<h5 class="subtitle !mb-5">Fasilitas Utama</h5>
			<div class="flex gap-6 flex-wrap">
				<Badge text="Toilet">
					<i class="bzi-beach-area overflow-hidden"></i>
				</Badge>
				<Badge text="WIFI">
					<i class="bzi-beach-area overflow-hidden"></i>
				</Badge>
				<Badge text="Tempat Parkir">
					<i class="bzi-beach-area overflow-hidden"></i>
				</Badge>
				<Badge text="Musholla">
					<i class="bzi-beach-area overflow-hidden"></i>
				</Badge>
				<Badge text="Area Bermasak">
					<i class="bzi-beach-area overflow-hidden"></i>
				</Badge>
				<Badge text="Area Bermain">
					<i class="bzi-beach-area overflow-hidden"></i>
				</Badge>
			</div>
		</section>
	</section>
</template>

<script>
import Badge from '@/components/Badge.vue'

export default {
	name: 'DetailInfoCards',
	components: {
		Badge
	}
}
</script>

<style lang="scss" scoped>
.detail-info {
	& > section {
		@apply p-[10px];
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
	}
}
</style>
