<template>
	<section class="detail-location">
		<h5 class="subtitle !mb-5 mt-10">Informasi Lokasi</h5>
		<section>
			<section class="detail-location__embed-map">
				<GmapMap
					:center="{ lat: 10, lng: 10 }"
					:zoom="7"
					map-type-id="terrain"
					style="width: 100%; height: 300px"
				>
					<GmapMarker
						v-for="(m, index) in markers"
						:key="index"
						:position="m.position"
						:clickable="true"
						:draggable="true"
						@click="center = m.position"
						@dragend="updateCenter(m.position)"
					/>
				</GmapMap>
			</section>
			<section class="detail-location__detail-info">
				<div class="flex items-center gap-2">
					<i class="bzi-map-marker1 text-black text-2xl"></i>
					<p class="mb-0 text-lg">
						Jl. Ambarbinangun No.5C, Kabupaten Bantul, Daerah Istimewa
						Yogyakarta, Indonesia 55184
					</p>
				</div>
				<p class="text-darkGrey !my-4">
					Setelah memarkir kendaraan anda akan berjalan kaki sejauh 1km dari
					tempat parkir ke Camping Ground. Selama perjalanan akan ada seseorang
					yang berjaga di area trek destinasi.
				</p>
				<p class="mb-[10px] font-medium">Akses Masuk Kendaraan</p>
				<div class="flex flex-wrap gap-2">
					<Badge text="Sepeda Motor">
						<i class="bzi-car text-xl"></i>
					</Badge>
					<Badge text="Mobil Pribadi">
						<i class="bzi-car text-xl"></i>
					</Badge>
					<Badge text="Minibus">
						<i class="bzi-car text-xl"></i>
					</Badge>
					<Badge text="Bus">
						<i class="bzi-car text-xl"></i>
					</Badge>
				</div>
				<p class="mt-6 text-black">
					Memiliki pertanyaan lebih lanjut?
					<nuxt-link to="/chat-owner" class="font-medium"
						><i class="bzi-chat-square-call text-xl"></i> Chat Owner
						Sekarang!</nuxt-link
					>
				</p>
			</section>
		</section>
	</section>
</template>

<script>
import Badge from '@/components/Badge.vue'

export default {
	name: 'DetailInfoLocation',
	components: {
		Badge
	},
	data() {
		return {
			center: { lat: -7.8131769, lng: 110.3369099 },
			markers: [
				{
					position: {
						lat: -7.8131769,
						lng: 110.3369099
					}
				}
			]
		}
	},
	// on mounted update center
	mounted() {
		this.updateCenter(this.center)
		this.updateMarkers(this.center)
	},
	methods: {
		updateCenter(position) {
			this.center = position
		},
		updateMarkers(position) {
			this.markers = [{ position }]
		}
	}
}
</script>

<style lang="scss" scoped>
.detail-location {
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

	& > section {
		@apply grid grid-cols-9 gap-8 items-end mb-10 p-[10px];
	}

	&__embed-map {
		@apply col-span-4 rounded-[10px] overflow-hidden;
	}

	&__detail-info {
		@apply col-span-5;
	}
}
</style>
