<template>
	<section class="detail-gallery my-11">
		<div class="detail-gallery__main">
			<img src="/assets/img/gallery/camp-1.jpg" alt="POV from Inside" />
		</div>
		<div class="detail-gallery__grid">
			<div class="detail-gallery__grid--wrapped">
				<img src="/assets/img/gallery/camp-2.jpg" alt="Lake view" />
			</div>
			<div class="detail-gallery__grid--wrapped">
				<img src="/assets/img/gallery/camp-3.jpg" alt="Mountain POV" />
			</div>
			<div class="detail-gallery__grid--wrapped">
				<img src="/assets/img/gallery/camp-4.jpg" alt="Chasing the night" />
			</div>
			<div class="detail-gallery__grid--wrapped">
				<img src="/assets/img/gallery/camp-5.jpg" alt="Morning vibes" />
			</div>
		</div>
		<button class="detail-gallery__btn-more">
			<i class="bzi-image mr-1"></i>
			<span>120 Photo</span>
		</button>
	</section>
</template>

<script>
export default {
	name: 'DetailImageGrid'
}
</script>

<style lang="scss" scoped>
.detail-gallery {
	@apply grid grid-cols-2 gap-[10px] h-[420px] relative;

	& div {
		@apply min-h-0;
	}

	&__main {
		@apply rounded-[10px] overflow-hidden;

		& img {
			@apply w-full h-full object-cover object-center;
		}
	}

	&__grid {
		@apply grid grid-cols-2 gap-[10px];

		&--wrapped {
			@apply rounded-[10px] overflow-hidden;

			& img {
				@apply w-full h-full object-cover object-center;
			}
		}
	}

	&__btn-more {
		@apply absolute bottom-2 right-2 flex items-center gap-2 p-2 bg-black bg-opacity-80 rounded-[4px] shadow-md text-white text-opacity-90;
	}
}
</style>
