<template>
	<section>
		<section class="flex justify-between items-start">
			<div>
				<h1 class="title">Brotherhood Camp</h1>
				<div class="flex items-center gap-3">
					<Badge text="Pantai" size="small">
						<i class="bzi-beach-area overflow-hidden"></i>
					</Badge>
					<div class="flex items-center">
						<i class="bzi-star text-yellow-500"></i>
						<i class="bzi-star text-yellow-500"></i>
						<i class="bzi-star text-yellow-500"></i>
						<i class="bzi-star text-yellow-500"></i>
						<i class="bzi-star text-yellow-100"></i>
						<span class="ml-1 text-darkGrey font-medium">(180 Ulasan)</span>
					</div>
				</div>
				<div class="flex items-center my-1 gap-2">
					<i class="bzi-map-marker1 text-grey"></i>
					<p class="font-medium text-grey leading-none mb-0">
						Jl. Ambarbinangun No.5C, Kabupaten Bantul, Daerah Istimewa
						Yogyakarta, Indonesia 55184
					</p>
				</div>
			</div>
			<div>
				<span class="mb-1 text-sm text-gray-500">per kavling, per malam</span>
				<h3 class="font-bold text-[26px] text-primary-500">
					<span class="text-black text-base font-normal mr-1">IDR</span
					>9.500.000
				</h3>
				<button class="btn--primary">Pilih Camping Ground</button>
			</div>
		</section>
		<DetailImageGrid />
		<DetailInfoCards />
		<DetailInfoLocation />
		<section class="my-24 flex flex-col gap-8">
			<CardPackage
				v-for="(item, i) in packages"
				:key="i"
				:type="item.type"
				:title="item.title"
				:capacity="item.capacity"
				:price="item.price"
				:facilities="item.facilities"
				:discount-price="item.discountPrice"
				:kavling-slot="item.kavlingSlot"
			/>
		</section>
		<section class="grid grid-cols-8 gap-6">
			<section class="col-span-3">
				<h3 class="font-bold text-2xl text-center mb-8">Ulasan Pengunjung</h3>
				<section class="flex justify-center items-end">
					<i class="bzi-star text-yellow-500 text-7xl"></i>
					<p class="text-black text-6xl font-bold mb-0 pt-2">4.7</p>
					<p class="text-xl text-grey font-normal mb-0">/ 5.0</p>
				</section>
				<p class="font-medium text-primary text-center mt-6">
					Rating berdasarkan 1200 pengunjung
				</p>
				<section>
					<ReviewProgressbar :count="1200" :star="5" :width="80" />
					<ReviewProgressbar :count="200" :star="4" :width="25" />
					<ReviewProgressbar :count="100" :star="3" :width="20" />
					<ReviewProgressbar :count="99" :star="2" :width="15" />
					<ReviewProgressbar :count="1" :star="1" :width="5" />
				</section>

				<!-- Filter & Sorting -->
				<section class="review__filter-sorting">
					<CardSorting />
				</section>
				<!-- End Filter & Sorting -->
			</section>
			<!-- Pagination -->
			<section class="col-span-5 flex flex-col gap-4">
				<CardReview
					v-for="(item, i) in reviews"
					:key="i"
					:timestamp="item.timestamp"
					:name="item.name"
					:stars-rate="item.starsRate"
					:camper-type="item.camperType"
					:type="item.type"
					:photos="item.photos"
					:description="item.description"
				/>
				<section class="review__pagination">
					<button class="btn--primary">1</button>
					<button class="btn--transparent">2</button>
					<button class="btn--transparent">3</button>
					<button class="btn--transparent">4</button>
					<button class="btn--transparent">...</button>
					<button class="btn--transparent">24</button>
				</section>
			</section>
			<!-- End Pagination -->
		</section>
	</section>
</template>

<script>
import Badge from '@/components/Badge.vue'
import DetailImageGrid from '@/components/DetailImageGrid.vue'
import DetailInfoCards from '@/components/DetailInfoCards.vue'
import DetailInfoLocation from '@/components/DetailInfoLocation.vue'
import CardPackage from '@/components/CardPackage.vue'
import ReviewProgressbar from '@/components/ReviewProgressbar.vue'
import CardReview from '@/components/CardReview.vue'
import CardSorting from '@/components/CardSorting.vue'

export default {
	name: 'DetailSection',
	components: {
		Badge,
		DetailImageGrid,
		DetailInfoCards,
		DetailInfoLocation,
		CardPackage,
		ReviewProgressbar,
		CardReview,
		CardSorting
	},
	data() {
		return {
			packages: [],
			reviews: []
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/packages.json`)
			.then(res => {
				this.packages = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})

		await this.$axios
			.get(`/json/reviews.json`)
			.then(res => {
				this.reviews = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>

<style lang="scss" scoped>
.review__filter-sorting {
	@apply mt-8;
}
</style>
