<template>
	<footer class="site-footer py-6 mt-20">
		<div class="container">
			<section class="footer__contents">
				<section>
					<img
						src="~assets/img/logo.png"
						alt="KEMAHAJA"
						height="28"
						class="mb-6"
					/>
					<div class="flex flex-col gap-2">
						<span class="text-sm text-grey">Ikuti Kami di Sosial Media:</span>
						<div class="flex gap-2">
							<a
								href="http://instagram.com"
								target="_blank"
								rel="noopener noreferrer"
							>
								<i class="bzi-instagram-filled text-2xl"></i>
							</a>
							<a
								href="http://youtube.com"
								target="_blank"
								rel="noopener noreferrer"
							>
								<i class="bzi-youtube text-2xl"></i>
							</a>
							<a
								href="http://facebook.com"
								target="_blank"
								rel="noopener noreferrer"
							>
								<i class="bzi-facebook-square text-2xl"></i>
							</a>
							<a
								href="http://tiktok.com"
								target="_blank"
								rel="noopener noreferrer"
							>
								<i class="bzi-tiktok text-2xl"></i>
							</a>
						</div>
					</div>
				</section>
				<section class="flex flex-col gap-2">
					<a href="maps.google.com" class="!text-darkGrey"
						>Jl. Pejaten Barat II No. 3A Jakarta, Indonesia 12510</a
					>
					<a href="tel:6282246926620" class="!text-darkGrey">
						+62 822-4692-6620</a
					>
					<a href="mailto:kemahaja@gmail.com" class="!text-darkGrey"
						>kemahaja@gmail.com</a
					>
				</section>
				<section>
					<form>
						<label for="newsletter" class="text-grey"
							>Dapatkan update berita terbaru</label
						>
						<div class="mt-3 mb-5 flex">
							<input
								id="newsletter"
								type="email"
								placeholder="Masukkan alamat email"
								class="px-[10px] py-3 border border-grey rounded-tl-lg rounded-bl-lg w-full"
								required
							/>
							<button
								class="btn--primary !rounded-tl-none !rounded-bl-none !px-6"
							>
								Kirim
							</button>
						</div>
					</form>
					<span>Copyright © KemahAja 2023</span>
				</section>
			</section>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss" scoped>
.site-footer {
	@apply flex items-start justify-between;
}

.footer__contents {
	@apply flex justify-between items-start;
}
</style>
