<template>
	<section>
		<form class="megasearchbar">
			<section class="flex flex-col gap-6">
				<label for="destination">Tujuan</label>
				<div class="flex items-center gap-3">
					<i class="bzi-map-marker text-2xl text-primary-500"></i>
					<input
						id="destination"
						type="text"
						placeholder="Cari tujuanmu"
						value="Yogyakarta"
					/>
				</div>
			</section>
			<section class="flex flex-col gap-6">
				<label for="checkinDate">Tanggal Check-in</label>
				<div class="flex items-center gap-3">
					<i class="bzi-date-checkout text-2xl text-primary-500"></i>
					<input
						id="checkinDate"
						type="text"
						placeholder="Tanggal Check-in"
						value="13 Agustus 2023"
					/>
				</div>
			</section>
			<section class="flex flex-col gap-6">
				<label for="checkoutDate">Tanggal Check-in</label>
				<div class="flex items-center gap-3">
					<i class="bzi-date-checkout text-2xl text-primary-500"></i>
					<input
						id="checkoutDate"
						type="text"
						placeholder="Tanggal Check-out"
						value="14 Agustus 2023"
					/>
				</div>
			</section>
			<section class="flex flex-col gap-6">
				<label for="totalGuest">Pengunjung</label>
				<div class="flex items-center gap-3">
					<i class="bzi-users text-2xl text-primary-500"></i>
					<input
						id="totalGuest"
						type="text"
						placeholder="Total Pengunjung"
						value="2 Dewasa, 1 Anak"
					/>
				</div>
			</section>
			<button class="btn--primary">Cari Sekarang</button>
		</form>
	</section>
</template>

<script>
export default {
	name: 'MegaSearchBar'
}
</script>

<style lang="scss" scoped>
.megasearchbar {
	@apply py-3 px-6 flex items-center justify-between bg-white rounded-[10px];
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);

	label {
		@apply text-gray-500;
	}

	input {
		@apply font-medium text-lg text-black w-full;
	}
}
</style>
