<template>
	<div class="review__progress-bar">
		<i class="bzi-star text-yellow"></i>
		<span>{{ star }}</span>
		<div class="progress-bar">
			<div class="progress-bar__inner" :style="{ width: width + '%' }" />
		</div>
		<span class="w-[50px] text-right">{{ count }}</span>
	</div>
</template>

<script>
export default {
	name: 'ReviewProgressbar',
	props: {
		count: {
			type: Number,
			default: 0
		},
		star: {
			type: Number,
			default: 0
		},
		width: {
			type: Number,
			default: 0
		}
	}
}
</script>

<style lang="scss" scoped>
.review__progress-bar {
	@apply flex justify-between items-center gap-[10px];
}
.progress-bar {
	@apply rounded-xl h-3 w-full;
	background: #b6b6b6;

	&__inner {
		@apply bg-primary-500 rounded-xl;
		height: 100%;
	}
}
</style>
