<template>
	<main class="site-main">
		<div class="container">
			<CustomBreadCrumbs />
			<MegaSearchBar />
			<section class="mt-8">
				<DetailSection />
			</section>
		</div>
	</main>
</template>

<script>
import CustomBreadCrumbs from '@/components/CustomBreadCrumbs.vue'
import MegaSearchBar from '@/components/MegaSearchBar.vue'
import DetailSection from '@/components/DetailSection.vue'

export default {
	components: {
		CustomBreadCrumbs,
		MegaSearchBar,
		DetailSection
	},
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'KEMAHAJA - Kemahin Semua Liburanmu'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
